# Entorno virtual
venv/
env/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de Django
*.sqlite3
*.log
*.pot
*.pyc

# Archivos de IDE / sistema
*.swp
*.idea/
.vscode/
.DS_Store

# Archivos estáticos y de medios generados
/staticfiles/
/media/
